.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.product {
  flex-basis: 20%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(163, 59, 59);
}

.product-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}